body {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0 0;
  margin: 0;
}

p {
  margin: 0 0;
}

h1 {
  margin: 0 0;
}

.top {
    background-color: #1F2937;
    padding: 14px 20%;
    background-image: url("../images/bkg.jpeg");
    background-size: cover;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav .logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 800;
}

.intro p {
    color: #E5E7EB;
    font-size: 18px;
}

.nav ul {
  display: flex;
  gap: 32px;
}

.nav a {
  color: #E5E7EB;
  text-decoration-line: none; 
  transition: color 300ms;
}

.nav a:hover {
  color: white;
}

.main {
  display: flex;
  padding: 100px 0;
  gap: 40px;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1 1 0;
}

.intro h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.main .image {
  background-color: grey;
  flex: 1 1 0;
  /* background-image: url("../images/intro.jpeg");
  background-size: cover;
  background-repeat: no-repeat; */
}

.intro button {
  background-color: #3882F6;
  font-size: 20px;
  padding: 5px 18px;
  color: #ffffff;
  border-radius: 10px;
  border-width: 0px;
  margin: 1px;
  transition: background-color 300ms, border-color 300ms;

}

.intro button:hover {
    background-color: transparent;
    cursor: pointer;
    border: white 1px solid;
    margin: 0;
}

/* info */
#info {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
}

#cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 90px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card .image {
    width: 160px;
    height: 160px;
    /* border: 2px #3882F6 solid; */
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
}

.card:nth-child(1) .image {
    background-image: url("../images/image1.jpeg");
}
.card:nth-child(2) .image {
    background-image: url("../images/image2.jpeg");
}
.card:nth-child(3) .image {
    background-image: url("../images/image3.jpeg");
}
.card:nth-child(4) .image {
    background-image: url("../images/image4.jpeg");
}

.card p {
    text-align: center;
    max-width: 160px;
}


/* quote */
#quoteSec {
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

#quoteSec #quote {
  max-width: 55%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#quoteSec #quote blockquote {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  font-weight: 200;
  margin: 0;
}

#quote figcaption {
  align-self: flex-end;
  font-size:22px;
  font-weight: 800;
}


/* bottom */
#bottom {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 100px;
}

#bottom #signUp {
  min-width: 600px;
  background-color: #3882F6;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size:16px;
}

#bottom #signUp span {
  font-weight: 800;
  font-size: 20px;
}

#bottom #signUp button {
    font-weight: 800;
    background-color: #3882F6;
    border: 1px white solid;
    border-radius:4px;
    color: white;
    padding: 5px 20px;
    transition: background-color 0.3s;
}

#bottom #signUp button:hover {
    cursor: pointer;
    background-color: white;
    color: #3882F6;
}


/* footer */
#footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    padding: 30px 0;
}